.sidebar {
    background-color: #343a40!important;
    height: calc(100vh - 72px);
}
.sidebar .nav-link{
    color: #fff;
    font-size: 15px;
    margin-bottom: 8px;
}
.sidebar .nav-link.collapsed .fa-chevron-left{
    transform: rotate(0deg);
}
.sidebar .nav-link .fa-chevron-left{
    transform: rotate(-90deg);
}
.sidebar .fa-chevron-left {
    font-size: 14px;
    transition: all 0.3s;
}
